.group
  =form_for(@shit, :url=>{:action=>'create'} ) do  |f|
    %span.field
      %h1
        Que se vaya a la mierda
        = f.text_field :author, class: 'author', placeholder: 'tal persona', id: "author_text"
        %span.highlight
        %span.bar
        porque
        = f.text_field :reason, class: 'reason', placeholder: 'tal razón', id: "reason_text"
        %span.highlight
        %span.bar
        &#46;
      .field.hide
        = f.text_area :content
      .field.hide
        = f.text_field :featured
    .actions
      = f.submit '¡Qué se vaya a la mierda!', class: "a btn", id: "button_text"
      = link_to "Ver otras", 'root_path', class: "a btn", id:"show"