!!!
%html{lang: I18n.locale}
	%head
		%title Que se vaya a la mierda.
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
		%link{:href => "http://fonts.googleapis.com/css?family=Cutive+Mono", :rel => "stylesheet", :type => "text/css"}/
		%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,800", :rel => "stylesheet", :type => "text/css"}
		%body
			#content
				= yield
			= render 'layouts/footer'